{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>KT Template</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'app01/style.css' %}">
</head>
<body>
<header>
    <h4>{{ title }}</h4>
</header>

<section>
    <nav>
        <ul>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ul>
    </nav>

    <article>
        {% block content %}
        {% endblock %}
    </article>
</section>

<footer>
    <p>Footer</p>
</footer>
</body>
</html>
